body {
    margin: 0;
}
#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

#scoreboard {
    background-color: grey;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#score {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite; 
}
#buttondiv {
    display: flex;
    flex-direction: row;
}