body {
    margin: 0;
}
#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

#scoreboard {
    background-color: cadetblue;
}
#buttondiv {
    display: flex;
    flex-direction: row;
}